Team ID

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv("/content/DATASET.csv")

In [5]:
df

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313.0
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510.0
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190.0
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435.0
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702.0

In [6]:
df.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
count,137057.000000,137057.000000,137057.000000,137057.000000,137022.000000,137057.000000,134900.000000,137057.000000,137057.000000
mean,386967.000000,18.343747,4.758692,3.192686,2.634489,65877.903515,7.243996,3.284531,4869.731097
std,39565.092259,8.634694,3.102245,1.164250,0.869295,37942.997623,4.790625,1.777270,1080.766723
min,318439.000000,1.000000,1.000000,0.000000,1.000000,3.000000,1.000000,0.000000,1800.000000
25%,352703.000000,11.000000,2.000000,2.000000,2.000000,32945.000000,4.000000,2.000000,4178.000000
50%,386967.000000,19.000000,5.000000,3.000000,3.000000,65786.000000,8.000000,3.000000,4731.000000
75%,421231.000000,26.000000,7.000000,4.000000,3.000000,98851.000000,8.000000,4.000000,5398.000000
max,455495.000000,32.000000,13.000000,21.000000,4.000000,131618.000000,38.000000,32.000000,11920.000000

In [7]:
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0

In [8]:
df.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313.0
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510.0
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190.0
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435.0
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137057 entries, 0 to 137056
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            137057 non-null  int64
 1   Hospital_code                      137057 non-null  int64
 2   Hospital_type_code                 137057 non-null  object
 3   City_Code_Hospital                 137057 non-null  int64
 4   Hospital_region_code               137057 non-null  object
 5   Available Extra Rooms in Hospital  137057 non-null  int64
 6   Department                         137057 non-null  object
 7   Ward_Type                          137057 non-null  object
 8   Ward_Facility_Code                 137057 non-null  object
 9   Bed Grade                          137022 non-null  float64
 10  patientid                          137057 non-null  int64
 11  City_Code_Patient                  134900 non-null  float64
 12  Type of Admission                  137057 non-null  object
 13  Severity of Illness                137057 non-null  object
 14  Visitors with Patient              137057 non-null  int64
 15  Age                                137057 non-null  object
 16  Admission_Deposit                  137057 non-null  float64
dtypes: float64(3), int64(6), object(8)
memory usage: 17.8+ MB

In [10]:
df.shape

(137057, 17)

In [11]:
df.dtypes

case_id                                int64
Hospital_code                          int64
Hospital_type_code                    object
City_Code_Hospital                     int64
Hospital_region_code                  object
Available Extra Rooms in Hospital      int64
Department                            object
Ward_Type                             object
Ward_Facility_Code                    object
Bed Grade                            float64
patientid                              int64
City_Code_Patient                    float64
Type of Admission                     object
Severity of Illness                   object
Visitors with Patient                  int64
Age                                   object
Admission_Deposit                    float64
dtype: object

Checking for NULL values

In [12]:
df.isnull()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137052,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
137053,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
137054,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
137055,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
137056,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
df.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [14]:
df.isnull().sum().sum()

2192

In [15]:
df.corr

<bound method DataFrame.corr of         case_id  Hospital_code Hospital_type_code  City_Code_Hospital  \
0        318439             21                  c                   3
1        318440             29                  a                   4
2        318441             26                  b                   2
3        318442              6                  a                   6
4        318443             28                  b                  11
...         ...            ...                ...                 ...
137052   455491             11                  b                   2
137053   455492             25                  e                   1
137054   455493             30                  c                   3
137055   455494              5                  a                   1
137056   455495              6                  a                   6

       Hospital_region_code  Available Extra Rooms in Hospital    Department  \
0                         Z                                  3    gynecology
1                         X                                  2    gynecology
2                         Y                                  3    gynecology
3                         X                                  3    gynecology
4                         X                                  2    gynecology
...                     ...                                ...           ...
137052                    Y                                  4    anesthesia
137053                    X                                  2  radiotherapy
137054                    Z                                  2    anesthesia
137055                    X                                  2    anesthesia
137056                    X                                  3    gynecology

       Ward_Type Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
0              S                  A        2.0      17006                2.0
1              S                  F        2.0      17006                2.0
2              Q                  D        4.0      17006                2.0
3              Q                  F        2.0      17006                2.0
4              R                  F        2.0      17006                2.0
...          ...                ...        ...        ...                ...
137052         Q                  D        3.0      41160                3.0
137053         R                  E        4.0      30985                7.0
137054         R                  A        4.0      81811               12.0
137055         R                  E        4.0      57021               10.0
137056         Q                  F        4.0     126729                3.0

       Type of Admission Severity of Illness  Visitors with Patient    Age  \
0              Emergency            Moderate                      2  71-80
1                 Trauma            Moderate                      4  71-80
2              Emergency            Moderate                      3  71-80
3                 Trauma            Moderate                      3  71-80
4                 Trauma            Moderate                      4  71-80
...                  ...                 ...                    ...    ...
137052         Emergency               Minor                      4  41-50
137053         Emergency            Moderate                      2   0-10
137054            Urgent               Minor                      2   0-10
137055            Trauma               Minor                      2  41-50
137056            Trauma             Extreme                      5  51-60

        Admission_Deposit
0                  3095.0
1                  4018.0
2                  4492.0
3                  4173.0
4                  4161.0
...                   ...
137052             6313.0
137053             3510.0
137054             7190.0
137055             5435.0
137056             4702.0

[137057 rows x 17 columns]>

Working with NULL values

In [16]:
df.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [17]:
df['Bed Grade'].fillna(df['Bed Grade'].median(),inplace=True)

In [18]:
df.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                               0
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [19]:
df['City_Code_Patient'].fillna(df['City_Code_Patient'].median(),inplace=True)

In [20]:
df.isnull().sum()

case_id                              0
Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
City_Code_Patient                    0
Type of Admission                    0
Severity of Illness                  0
Visitors with Patient                0
Age                                  0
Admission_Deposit                    0
dtype: int64